<div class="fooctr" fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="60px" fxLayoutGap.xs="15px" class="firro footerctr" fxFill>
    <div fxFlex="25" fxFill fxLayoutGap="5px" fxLayout="column">
        <div fxFlex class="logo" fxLayoutAlign="start center">
            <img [routerLink]='[""]' src="assets/LT.JPG">
        </div>
        <div class="foop" fxFlex fxFill>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna 
        </div>        
    </div>      
    <div fxFlex="10" fxFlex.sm="15" fxFill fxLayout="column" fxLayoutGap="15px">
      <div><a [routerLink]='["/myhome"]'>Home</a></div>
      <div> <a [routerLink]='["/aboutus"]'>About SIS</a></div>
      <div><a [routerLink]='["/newsandevents"]'>News & Events</a></div>
      <div><a [routerLink]='["/faculty-list"]'>Faculty Profile</a></div>
    </div>
    <div fxFlex="10" fxFlex.sm="15" fxFill fxLayout="column" fxLayoutGap="15px">
      <div><a [routerLink]='["/gallery"]'>Gallery</a></div>
      <div><a [routerLink]='["/alumini-blog"]'>Alumini Blog</a></div>
      <div><a [routerLink]='["/contact-us"]'>Contact Us</a></div>
    </div>
    <div fxFlex="10" fxFlex.sm="15" fxFill fxLayout="column" fxLayoutGap="15px">
      <div>Privacy Policy</div>
      <div>Site Map</div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" class="firro2" fxFill>
    <div fxFlex="50" fxFlex.xs="100" fxFill fxLayoutAlign="start center" fxLayoutAlign.xs="center center">
      Copyright<mat-icon>copyright</mat-icon> 2019. All Rights Reserved
    </div>
    <!-- <div fxFlex="50" fxFlex.xs="100" fxXFill fxLayoutAlign="end center" fxLayoutAlign.xs="center center">
      Devloped By JBIN Technologies
    </div> -->
  </div>
</div>
