.head
{
height:300px !important;
}
.head img
{
height:250px !important;
}
.aboutus-heading121 {
position: absolute;
top: 125px;
left: 34%;
right: 34%;
color:white;
font-size:50px;
font-weight:600;
letter-spacing: 2px;
}
.our-projects{
padding: 20px 10px;
}
.gallery-heading{
color: #262D61;
font-size: 30px;
font-weight: 600;
padding: 30px 0px;
}
.ourpbut button{
background: linear-gradient(to right,  yellow 4%, #262D61 4%);
color: white;
border-radius: 0px;
font-size: 20px;
font-weight: 300;
width: 200px;
max-width: 200px;
padding: 10px 0px;
}

// .desc {
//   padding: 15px;
// }
.desc p{
  margin:0;
}

// .gal-img{
// padding: 100px;
// }
.gal-img{
  // padding: 100px;
  padding: 60px 0px 60px 90px;
  }
  .img5-1{
    padding-bottom:5px;
  }
.gal-img .img5-1{
height: 140px !important;
max-height: 250px;
width: 100% !important;
}


.cls_btn
{
  background: #262D61 ;
  color:white !important;
}
.popup-image img
{
  height:300px;
  width:100%;
  padding-bottom: 15px;
}

@media only screen and (max-width:599px){
.head
{
height:170px !important;
}
.head img
{
height:170px !important;
}
.aboutus-heading121 {
position: absolute;
top: 75px;
left: 34%;
right: 34%;
color:white;
font-size:10px;
font-weight:600;
letter-spacing: 2px;
}
.gal-img{
  padding: 0px;
  margin: 0 auto !important;
  width: 60% !important;
  padding-left: 5px;
}
.popup-image img
{
  height:160px;
  width:100%;
}
}

@media only screen and(min-width:600px) and ( max-width:959px ){   
  .gal-img{
    padding: 60px 0px 60px 60px;
  }
  .gal-img .img5-1 {
    height: 100px !important;
    max-height: 250px;
    width: 100% !important;
  }
.gallery-image-heading {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
font-size:40px;
font-weight:600;
letter-spacing: 2px;
}
}
@media only screen and(min-width:960px) and ( max-width:1220px ){   
  .gal-img .img5-1{
    height: 125px !important;
    max-height: 250px;
    width: 100% !important;
}
}

.heading{
  padding:10px;
}
.popup-image{
  padding:15px;
}