<div fxLayout="column">
  <div class="head" fxFlex fxFill>
    <img fxFill src="assets/img/abt-headerimg1.png" alt="" />
    <div class="aboutus-heading121" fxLayoutAlign="center center">About Us</div>
  </div>
  <div class="about-sis" fxLayout="column" fxFlex fxFill fxLayoutAlign="center">
    <div class="contentabout">
      <div class="aboutsis-heading">
        <h4>About SIS</h4>
        <h6>Who We Are?</h6>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam
        erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
        consequat, zzril delenit augue duis dolore te feugait
        nulla facilisi.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam
        erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
        aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
        consequat, zzril delenit augue duis dolore te feugait
        nulla facilisi.
      </p>
    </div>

  </div>
  <div class="mission-vission" fxLayout="column">
    <div class="our-mission" fxLayout="row" fxLayout.lt-md="column">
      <div class="ourmission-content" fxFlex="50">
        <div fxLayoutAlign="center">
          <img src="assets/img/missionicon.JPG" alt="">
        </div>
        <div class="ourmission-heading" fxLayoutAlign="center">Our Mission</div>
        <div fxLayoutAlign="center">
          <hr class="ourmission-hr">
        </div>
        <div class="ourmission-para">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            commodo consequat. Duis autem vel eum
            iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
            dignissim qui blandit.</p>
        </div>
      </div>
      <div fxFlex="50">
        <img fxFill src="assets/img/missionimg.JPG" alt="" />
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
      <div class="vission-image" fxFlex="50">
        <img fxFill src="assets/img/vissionimg.JPG" alt="" />
      </div>
      <div class="ourmission-content" fxFlex="50">
        <div fxLayoutAlign="center">
          <img src="assets/img/vissionicon.JPG" alt="">
        </div>
        <div class="ourmission-heading" fxLayoutAlign="center">Our Vission</div>
        <div fxLayoutAlign="center">
          <hr class="ourmission-hr">
        </div>
        <div class="ourmission-para">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            commodo consequat. Duis autem vel eum
            iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
            dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
            dignissim qui blandit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ourhistory" fxLayout="column">
    <h2>Our History</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam
      erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
      aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
      consequat, vel illum dolore eu feugiat nulla facilisis
      at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
      feugait nulla facilisi.
    </p>
    <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam
      erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
      aliquip ex ea
    </p>
  </div>
  <!-- <div>div5</div> -->
  <div class="testimonial-fullsection" fxLayout="column">
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100">
        <h2 class="testimonial-heading">Testimonials</h2>
        <div class="testimonial-slider">
          <owl-carousel-o [options]="testimonialsliderOptions">
            <ng-template carouselSlide>
              <div fxLayout="column">
                <div class="ex1">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipi Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class="arrow-down"></div>

              </div>
              <div class="testimonialslide-img" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
                <img src="assets/img/facultyimg1.JPG">
                <div class="testiomialprofile-name">
                  <h2>Mathew Hogg</h2>
                  <p>Civil Engineer</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div fxLayout="column">
                <div class="ex1">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipi Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class="arrow-down"></div>

              </div>
              <div class="testimonialslide-img" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
                <img src="assets/img/facultyimg2.JPG">
                <div class="testiomialprofile-name">
                  <h2>Mathew Hogg</h2>
                  <p>Site Engineer</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div fxLayout="column">
                <div class="ex1">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipi Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class="arrow-down"></div>

              </div>
              <div class="testimonialslide-img" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
                <img src="assets/img/img5.png">
                <div class="testiomialprofile-name">
                  <h2>Mathew Hogg</h2>
                  <p>Civil Engineer</p>
                </div>
              </div>
            </ng-template>

            <ng-template carouselSlide>
              <div fxLayout="column">
                <div class="ex1">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipi Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class="arrow-down"></div>

              </div>
              <div class="testimonialslide-img" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
                <img src="assets/img/img2.png">
                <div class="testiomialprofile-name">
                  <h2>Mathew Hogg</h2>
                  <p>Site Engineer</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div fxLayout="column">
                <div class="ex1">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipi Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper suscipit
                    lobortis nisl ut aliquip ex ea commodo consequat ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class="arrow-down"></div>

              </div>
              <div class="testimonialslide-img" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center">
                <img src="assets/img/img5.png">
                <div class="testiomialprofile-name">
                  <h2>Mathew Hogg</h2>
                  <p>Site Engineer</p>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>