<div fxLayout="row" >
  <h3 class="breadCrumb-head">Alumni Blog</h3>
</div>
<div id="login_ctr" fxLayoutAlign="center center">
  <mat-card fxFlex="90" fxFlex.xs="90">
    <mat-card-header fxLayoutAlign="center center" fxFill fxLayout="column">
      <mat-card-title class="alumini-formheading">Alumni Blog</mat-card-title>
    </mat-card-header>
    <mat-card-content   fxLayoutAlign="center center">
      
      <form id="login" fxLayout="column" fxFlex="90" fxFill> 
        <p class="error-msg">{{errorMsg}}</p>
        <div fxLayout="column" class="form-div">
        <p class="posthead-label">Post Headline:</p>
        <input type="text" class="form-control headline-input" id="postheadline" name="postheadline"
          placeholder="Headline" [(ngModel)]="headline" required> 
        </div>

        <form #form='ngForm' >
        <div fxLayout="column" class="form-div">
        <p class="posthead-label">Post Content:</p>

  <ejs-richtexteditor #imageRTE [(value)]='value' required name="name" [(ngModel)]="value" 
   id='imageRTE' [insertImageSettings]='insertImageSettings' [toolbarSettings]='tools' [quickToolbarSettings]='quickTools'></ejs-richtexteditor> 
   <div class="post-btn" fxLayoutAlign="center center">

  </div>
      </div>
    

        
        <div fxLayout="row" class="form-div" fxLayout.xs="column" fxLayoutGap="150px" fxLayoutGap.sm="50px" fxLayoutGap.xs="0px">
          <div fxLayout="column" fxFlex="50">
            <p class="posthead-label">Attach Image:</p>
          
            <app-uploadfile></app-uploadfile>
          </div> 
          <div fxLayout="column" fxFlex="50">
            <p class="posthead-label">Attach Doc:</p>
            <app-new-upload></app-new-upload>
           
          </div>
        </div>

       <mat-card-actions fxFlex="82"  fxLayoutAlign="start center" fxFill>
        <div fxLayoutAlign="end center">Blog Active Status 
        <mat-slide-toggle [checked]="checked" name="blog" [color]="color" (change)="changed($event)"></mat-slide-toggle>
        </div>
     </mat-card-actions>
        <div class="post-btn" fxLayoutAlign="center center">
          <button *ngIf="showsavebutton" class="exm" mat-flat-button (keyup.enter)="save(form)"  (click)="save(form)" [disabled]="isLoading">
            <i class="fa fa-loadingsave" [ngClass]="{'fa-spin fa-spinner': isLoading, '': !isLoading}"></i>
            Post </button>
        </div>
      </form>

      </form>
    </mat-card-content> 
  </mat-card>
</div>



<div id="login_ctr" fxLayoutAlign="center center">
  <mat-card fxFlex="80" fxFlex.xs="90" fxFlex.sm="70" >
    <mat-card-header fxLayoutAlign="center center" fxFill fxLayout="column">
      <mat-card-title>BLOG LIST</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
      
      <div fxLayout="row" fxLayoutAlign="start center" class="content" fxFlex>
        <div fxFlex = "100%" fxFill>

            <table mat-table [dataSource]="dataSource" fxFill>
               
                <ng-container matColumnDef="profile" >
                  <th mat-header-cell *matHeaderCellDef > # </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.index}} </td>
               
                 </ng-container>
              
               
                <ng-container matColumnDef="fromdate">
                  <th class="head-name" mat-header-cell *matHeaderCellDef> Headline name </th>
                  <td class="headline-name" mat-cell *matCellDef="let transaction"> <p class="tble-coursename">{{transaction.headline}} </p></td>
                
                </ng-container>
                <ng-container matColumnDef="todate" fxHide.lt-md>
                  <th mat-header-cell *matHeaderCellDef fxHide.lt-md> Created date  </th>
                  <td mat-cell *matCellDef="let transaction" fxHide.lt-md> {{transaction.date}} </td>
                
                </ng-container>

                  <ng-container matColumnDef="status" fxHide.lt-md>
                  <th mat-header-cell *matHeaderCellDef fxHide.lt-md> Course active status </th>
                  <td class="course-active" mat-cell *matCellDef="let transaction" fxHide.lt-md> {{transaction.status}} </td>
                
                </ng-container>
              

                <ng-container matColumnDef="action">
                  <th class="course-active" mat-header-cell *matHeaderCellDef> Action </th>
                    <td class="minifab" mat-cell *matCellDef="let transaction" fxLayoutGap="10px">
                      <div fxLayoutAlign="center center" fxLayoutGap="10px">
                        <button mat-mini-fab (click)="showview(transaction.blogid)">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-mini-fab (click)="getblogdtls(transaction.blogid)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab (click)="delete(transaction.blogid)">
                          <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                  </td>              
                </ng-container>
             
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
               
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
        </div>
      
       
      </div>  
    </mat-card-content>  
  </mat-card>
    </div> 

    




<ng-template #alertDialog >
  <div class="infoModal" fxLayout="column">
    <div class="header" fxLayoutAlign="start center">
      <h4 class="otp-style" [style.color]="msgcolor"> {{modaltitle}} </h4>
    </div>
    <div fxLayoutAlign="center center">
      <p>{{modalmsg}}</p>
    </div>
    <div fxLayoutAlign="center center">
      <button fxLayoutAlign="center center" mat-button  class="verify-btn" (click)= "closemodal()" >Close</button>
    </div>
    </div>
  </ng-template>


  
<ng-template #deleteDialog>
<div class="diag_ctr" fxLayout="column">
  <div class="cls_btn" fxFill fxLayoutAlign="end center">
    <button mat-icon-button (click)="closemodal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="heading" fxFill fxLayoutAlign="center center">
    {{modalmsg}}
  </div>
  <div class="btn_div" fxLayout="row" fxFill fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-button class="verify-btn yes" (click)="confirmDel()">YES</button>
    <button mat-button class="verify-btn no" (click)="closemodal()">NO</button>
  </div>
</div>
</ng-template>



<ng-template #viewDialog>
<div class="view_ctr" fxLayout="column">
  <div fxLayout="row" class="cls_btn" fxFill >
    <div fxFlex="80" fxFill fxLayoutAlign="start center" class="heading">Alumni blog details</div>
    <div fxFlex fxLayoutAlign="end center" fxFill>
        <button mat-icon-button (click)="closemodal()">
            <mat-icon>close</mat-icon>
          </button> 
    </div>
   
  </div>
  <div fxLayout="column" fxLayoutGap="15px" class="heading" fxFill>
    <div fxLayout="row" fxFill>
      <div fxFill class="poup-headline"> {{headline}}</div>
    </div>
    <div fxLayout="row" class="imagepopup" fxFill>
      <div fxFill>  <img class="popup-img" src="{{image_URL}}{{image}}" alt="images"/></div>
    </div>
    <div fxLayout="row" fxFill>
        <div class="content-hg" [innerHTML]="content">  </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="35" fxFill> Created date :</div>
        <div> {{date}}</div>
      </div>
  </div> 
</div>
</ng-template>