#course_sche_ctr{
    padding: 25px 0px;
}
mat-card-header{ 
    background-color: #262D61;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;         
}
mat-card-title{
    margin-top: 16px;
     
}
mat-card{
    border-radius: 20px;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
mat-card-content{
    padding-top: 25px;
}
mat-card-actions a{
    text-decoration: none;
    padding-top: 15px;
    font-size: 12px;
    color: #9C9C9C;
}
.minifab .mat-mini-fab{
    background-color: white !important;
    color: #939393 !important;
}
.minifab .material-icons{
    font-size: 18px;
}
.minifab .mat-icon{
    height: 18px;
    width: 18px;
}

.minifab .mat-mini-fab:not([class*=mat-elevation-z]) {
    //box-shadow: 0 1px 0px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
    box-shadow: 0 0.25px 0px -1px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12) !important;
}

#cmmsub_ctr{
    padding-bottom: 15px;
}

.tble-coursename
{
max-height:16px;
overflow:hidden;
}
.tble-head
{
width: 240px;
}
.viewpopup-content{
max-height: 340px !important;
}


@media only screen and(max-width:600px){
    .tble-head
    {
      width: 70px;
    }

}
@media only screen and(min-width:600px) and (max-width:959px){
    .tble-head
    {
      width: 180px;
    }   
}