
#test_sch_ctr{
    padding: 25px 0px;
}
mat-card-header{
    background-color: #262D61;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}
mat-card-title{
    margin-top: 16px;
}
mat-card{
    border-radius: 20px;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
mat-card-content{
    padding-top: 15px;
}
.minifab .mat-mini-fab{
    background-color: white !important;
    color: #939393 !important;
}
.minifab .material-icons{
    font-size: 18px;
}
.minifab .mat-icon{
    height: 18px;
    width: 18px;
}

.minifab .mat-mini-fab:not([class*=mat-elevation-z]) {
    //box-shadow: 0 1px 0px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
    box-shadow: 0 0.25px 0px -1px rgba(0, 0, 0, 0.2), 0 1px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12) !important;
}
#cmmsub_ctr{
    padding-bottom: 15px;
}

.tble-coursename
{
max-height:16px;
overflow:hidden;
}
.tble-head
{
width: 240px;
}

 //popup design
 .viewpopup-content{
    max-height: 315px !important;
    }
.tble-part{
    border-right:none !important;
    border-bottom:none !important;
}
.tble-partcontent{
    border-bottom:none !important;
}
.viwetablepopup{
margin:0px !important;
}
.viwetablepopup-down
{
    border-left: 1px solid #b6b6b6;  
    border-top: 1px solid #b6b6b6;  
    border-right: 1px solid #b6b6b6;  
    margin-bottom: 10px;
}
.viwetablepopup-down thead
{
text-align:left;

}
.viwetablepopup-down th
{
    border-bottom: 1px solid #b6b6b6;
    padding:10px;
}
.viwetablepopup-down td
{
    border-bottom: 1px solid #b6b6b6;
    padding:10px;
}
.viwetablepopup-down tr td {
    color: rgba(0,0,0,.54);
    // font-weight:600;
    border-right: 1px solid #b6b6b6;
    // width:50%;
    word-break: break-word;
}
.viwetablepopup-down th {
    border-right: 1px solid #b6b6b6;   
    // width:50%;
}
.viwetablepopup-down td p{
    margin:0;
    position: relative;
    // max-height:77px;
    // overflow:hidden;
}
.viwetablepopup-down th:last-child{
    border-right:none !important;
}
.viwetablepopup-down td:last-child{
    border-right:none !important;
}

.headline-input
    {
        border: 1px solid gainsboro;
        background-color: #e5e5e570;
        height: 30px;
        padding: 0px 10px;
        max-width: 30px;
        text-align: center;
    }
    .posthead-label
    {
        color: rgba(0,0,0,.54);
            letter-spacing: 0.5px;
    margin:0;
    padding:10px 0px;
    }
    .ampmselect{
        height: 30px;
        background-color: #e5e5e570;
        border: 1px solid gainsboro;
    }
    .dot{
        color: #262D61 !important;
        padding: 5px 0px;
        font-size: 16px;
    }

    @media only screen and(max-width:600px){
        .tble-head
        {
          width: 125px;
        }
        .select-form{
            width:100% !important;
        }
    }
    @media only screen and(min-width:600px) and (max-width:959px){
        .tble-head
        {
          width: 180px;
        }   
        .select-form{
            width:100% !important;
        }

    }

